<a href="https://colab.research.google.com/github/suryarasp/3DReconstruction/blob/master/Funda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Type hint https://docs.python.org/3/library/typing.html

In [4]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi('John')
print (f"greeting {greeting}")

greeting Hi John

In [5]:
def fub(x:int):
  print(x)
fub(5)

5

In [6]:
a:list =[1,2,3]
b:list=[4,5,6]
l:zip=zip(a,b)
print("type",type(l))
print([2*x+2*y for x,y in l])
print(list(zip(a,b)))

type <class 'zip'>
[10, 14, 18]
[(1, 4), (2, 5), (3, 6)]

https://www.delftstack.com/howto/python/python-for-loop-multiple-variables/

In [ ]:
#getting simulteneously index and value
coins = ["Bitcoin", "Ethereum", "Cardano"]
prices = [48000,2585,2]
for i, coin in enumerate(coins):
    price = prices[i]
    print(f"${price} for 1 {coin}")

$48000 for 1 Bitcoin
$2585 for 1 Ethereum
$2 for 1 Cardano

https://www.w3schools.com/python/python_lambda.asp

fuynctonName=lambda arguments : expression

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))
# Double all numbers using map and lambda
  
numbers = (1, 2, 3, 4)

13

https://www.geeksforgeeks.org/python-convert-list-of-tuples-to-list-of-list/

In [10]:
# Python3 code to demonstrate
# convert list of tuples to list of list
# using map() + list

# initializing list
test_list = [(1, 2), (3, 4), (5, 6)]

# printing original list
print(f"The original list of tuples :{test_list} " )

# using map() + list
# convert list of tuples to list of list
res = list(map(list, test_list))

# print result
print("The converted list of list : " + str(res))

The original list of tuples :[(1, 2), (3, 4), (5, 6)]
The converted list of list : [[1, 2], [3, 4], [5, 6]]

Python map() function
https://www.geeksforgeeks.org/python-map-function/

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :

map(fun, iter)
Parameters :

fun : It is a function to which map passes each element of given iterable.
iter : It is a iterable which is to be mapped.

In [13]:
# Python program to demonstrate working
# of map.

# Return double of n and adds 3
def addition(n):
	return 2*n+3

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(f" type of results is {type(result)}")
print(list(result))
# Double all numbers using map and lambda
  
numbers = (1, 2, 3, 4)
result = map(lambda x: 2*x + 3, numbers)
print(list(result))

 type of results is <class 'map'>
[5, 7, 9, 11]
[5, 7, 9, 11]